.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.main {
    font-weight: 600;
}

.main a {
    font-weight: 600;
    color: #2F57BF;
}

.assetSize {
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
    color: #282828;

}

.pricecont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    gap: 20px;
}

.priceBtn {
    max-width: 180px;
    width: 100%;
}

.infoCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.authorInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.authorInfo svg {
    color: #282828;
    height: 40px;
}

.license {
    align-items: end;
}

.license h2 {
    text-align: end;
    width: 100%;
}

.license p {
    text-align: end;
}

.license a {
    align-self: flex-end;
}

@media (max-width: 1100px) {
    .pricecont {
        gap: 10px;
        width: 180px;
    }
}

@media (max-width: 950px) {

    .main {
        gap: 54px;
    }

    .container {
        align-items: start;
    }
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .license p {
        text-align: start;
    }

    .license h2 {
        text-align: start;
    }

    .license a {
        align-self: flex-start;
    }
}