.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}
.container {
    max-width: 413px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.element {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image {
    width: 413px;
    height: 233px;
    object-fit: contain;
}
.nameCont {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    /* position: relative; */
}
.title {
    font-size: 32px;
    font-weight: 450;
    line-height: 41px;
    color: rgba(40, 40, 40, 1);
}
.titleOther {
    color: rgba(255, 255, 255, 1);
    width: 326px;
    white-space: nowrap; /* Запрет переноса текста на новую строку */
    overflow: visible;
}
.description {
    color: rgba(40, 40, 40, 1);
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    white-space: normal;
    width: 413px;
}
.descriptionOther {
    color: rgba(255, 255, 255, 1);
}
.downloadButton {
    width: 180px;
    height: 60px;
    background-color: rgba(47, 87, 191, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 450;
    line-height: 23px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    /* font-family: inherit; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}
.blockDetail {
    padding: 80px;
    display: flex; 
    flex-direction: column; 
    gap: 20px;
}
.otherTutorials {
    padding: 80px;
    background: linear-gradient(to right, rgba(40, 40, 40, 1), rgba(0, 8, 30, 1));
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

@media (max-width: 1360px) {
    .container {
        max-width: 334px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 858px) {
    /* .container {
        max-width: 334px;
        grid-template-columns: repeat(2, 1fr);
    } */
    .image {
        width: 334px;
        height: 233px;
    }
    .blockDetail {
        padding: 40px;
    }   
    .titleOther {
        width: 247px;
        white-space: normal;
        /* overflow-wrap: break-word;
        word-wrap: break-word; */
    }
    .otherTutorials {
        padding: 10px;
    }
    .element {
        width: 334px;
    }
    .description {
        width: 334px;
        overflow-wrap: break-word;
    }
  }

  @media (max-width: 740px) {
    .container {
        max-width: 350px;
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Для мобильных (до 390px) - 1 колонка */
  @media (max-width: 390px) {
    /* .container {
        max-width: 350px;
        grid-template-columns: repeat(1, 1fr);
    } */
    .image {
        width: 350  px;
        height: 233px;
    }
    .titleOther {
        font-size: 24px;
    }
    .descriptionOther {
        font-size: 18px;
    }
    .titleBlock {
        flex-direction: column;
        padding-right: 20px;
        align-items: flex-start;
    }
    .downloadButton {
        margin-left: 20px;
    }
  }