.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 10px;
    background: linear-gradient(110.35deg, rgba(40, 40, 40, 0.85) 0%, rgba(0, 8, 30, 0.85) 100%);
    position: relative;
    color: white;
    margin-top: 80px;
}

.container::before {
    background: url("../../assets/images/formbackground.png") no-repeat center center;
    background-size: cover;
    opacity: 10%;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.content {
    z-index: 3;
    display: flex;
    flex-direction: row;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quotes h3 {
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 600px;
}

.quotes h3::before {
    content: " ";
    bottom: 0;
    height: 2px;
    background-color: #595C63;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.about p {
    max-width: 600px;
    font-weight: 200;
    font-size: 17px;
    line-height: 23px;
    color: #B3B3B3;
    padding-left: 100px;

}

.quotes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}


@media screen and (max-width: 700px) {
    
.about p {
    padding-left: 0px;
    width: 100%;
}

.container {
    padding: 80px 40px;
}
}