.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/images/sharebackground.png") no-repeat center center;
    background-size: cover;
    opacity: 20%; 
    z-index: -1; 
}
  
  .content {
    display: block;
  }
  
  .content img {
    float: right;
    max-width: 456px;
    width: 100%;
    margin-left: 50px;
  }

  .content h2{
    margin-bottom: 50px;
  }
  
  .content p{
    margin: 30px 0;
  }

  .btn {
    width: 180px;
  }

  @media (max-width: 1000px) {

    .content img {
        max-width: 250px;
        margin-top: 120px;
    }

    .btn{
      place-self: center;
    }
    
}

  @media (max-width: 768px) {

    .content img {
        max-width: 128px;
        margin-top: 120px;
    }
    
}

  
@media (max-width: 500px) {

    .content {
        display: flex;
        flex-direction: column;}

    .content img {
        float: none;
        place-self: center;
        order: 2;

        max-width: 150px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .content h2{
        order: 1;
      }

      .content p{
        order: 3;
      }

      .content .btn{
        order: 4;
      }
    
}