.filterscont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.body {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.assetscont {
    width: 100%;
}

.assets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.mobileview {
    display: flex;
}

.resetallfilters {
    width: 307px;
}

.deleteFilter {
    font: inherit;
    font-weight: 300;
    font-size: 17px;
    color: #282828;
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
    padding: 10px 20px;
    gap: 10px;
    border: 2px solid #EBEBEB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.deleteFilter:hover {
    border-color: #BF3636;
}

.topPagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.contpag {
    width: 100%;
}

.toggleCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #383838;
}

.toggleNoCont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #383838;
    white-space: nowrap;
    margin-top: 30px;
}
.toggleNoCont_container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.toggleCont p{
    white-space: nowrap;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.noitem {
    display: flex;
}


.globalContainer {
    position: relative;
  }
  
  .loadingState {
    opacity: 0.7;
    pointer-events: none;
  }
  
  /* .hiddenContent {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  } */
  
  .loadingOverlay,
  .errorOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  
  .errorOverlay {
    background: rgba(255, 255, 255, 0.95);
    color: #ff4d4f;
  }


@media (max-width: 1200px) {
    .filterwrap {
        display: none;
    }

    /* .main {
        padding: 40px;
    } */

    .toggleNoCont {
        display: none;
        }
    .toggleCont {
        display: none;
    }
    
    
}

@media (max-width: 729px) {

    .mobileview {
        display: flex;
    }

    /* .toggleCont {
        display: none;
    } */

    /* .main {
        padding: 20px;
    } */

}

@media (max-width: 500px) {

    .resetallfilters {
        width: 100%;
    }
}