.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0px;
    gap: 10px;
    background: #F1F1F1;
    border: 1px solid rgba(179, 179, 179, 0.5);
    border-radius: 5px 0px 0px 5px;
    flex: 1;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 5px;
}

.container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #2F57BF;
    border-radius: 10px;
}

.container ::-webkit-scrollbar-thumb:hover {
    background: #1a2a6c;
}

.priceCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 60px;
    height: 60px;
    background: linear-gradient(206.06deg, rgba(64, 64, 64, 0) 0%, rgba(47, 87, 191, 0.4) 67.4%), linear-gradient(0deg, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.5)), url("../../assets/images/asset-bg.png") no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px
}

.itemCont {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


@media (max-width: 400px) {
    .container {
        padding: 0px;
    }
    .itemCont {
        gap: 0px;
        padding: 0;
    }

    .start{
        max-width: 200px;
        padding: 0;
        margin: 10px;
    }
}