.topContribiutors {
    margin-top: 80px;
}
.topContainer {
    column-count: 3; /* Разделить на 3 колонки */
    column-gap: 20px;
    margin-top: 40px;
}
.allButton {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(47, 87, 191, 1);
    color: white;
    font-size: 18px;
    font-weight: 450;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.allButtonMobile {
    margin: 20px auto 0;
}
.user {
    break-inside: avoid; /* Предотвращает разрыв элементов между колонками */
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(179, 179, 179, 1);
    display: flex;
    align-items: center;
    width: 414px;
    padding: 20px 0;
}
.number {
    margin-right: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30.77px;
}
.numberMobile {
    margin-right: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%; 
}
.countBlcok {
    display: flex;
    align-items: center;
}
.element {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.name {
    color: rgba(47, 87, 191, 1);
    font-size: 24px;
    line-height: 30.77px;
    font-weight: 450;
}
.nameMobile {
    width: 172px;
    overflow: hidden;
}
.headerTop {
    display: flex;
    justify-content: space-between;
}
.imgMobile {
    width: 172px;
    height: 172px;
    border-radius: 5px;
}
.total_products {
    font-size: 24px;
}

@media (max-width: 768px) {
    .topContribiutors {
        margin-top: 46px;
    }
  }
  
  @media (max-width: 390px) {
    .topContribiutors {
        margin-top: 34px;
    }
    .imgMobile {
        width: 150px;
        height: 150px;
    }
    .nameMobile {
        font-size: 20px;
    }
    .total_products {
        font-size: 20px;
    }
    .numberMobile {
        font-size: 20px;
    }
  }