.main {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.imgcont {
    width: 536px;
    height: 367px;
    background-color: antiquewhite;
}

@media (max-width: 768px) {

    .main{
        flex-direction: column;
    }

    .imgcont{
        width: 100%;
    }

    .content {
        gap: 20px;
    }
}