.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    height: 650px;
    color: white;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(110.35deg, rgba(40, 40, 40, 0.9) 0%, rgba(0, 8, 30, 0.9) 100%);
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/images/join.png") no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 40px;
    max-width: 547px;
    z-index: 2;
}

.content h2 {
    text-align: center;
}

.content p{
    color: white;
}

.btn {
    width: 180px;
}

@media screen and (max-width: 500px) {
    .main {
        padding: 40px 20px;
        height: 476px;
    }

}