.main {
    padding-top: 0;
}

.textCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textCont span {
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 768px) {
    .user {
        width: 330px;
    }
  }
  
  @media (max-width: 390px) {
    .user {
        width: 350px;
    }
  }