@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body{
  padding-top: 90px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 80px;
}

.width {
  padding-left: 80px;
  padding-right: 80px;
}

.height {
  padding: 80px;
}

input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border: none;
  resize: none;
}

textarea {
  height: 320px;
  width: 100% !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
}

.content {
  flex: 1;
}

.h1-bold {
  font-weight: 700;
  font-size: 66px;
}

.h2-bold {
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

.h2-medium {
  font-weight: 600;
  font-size: 45px;
}

.h3-light {
  font-weight: 300;
  font-size: 22px;
  line-height: 42px;
}

.h3-medium {
  font-weight: 500;
  font-size: 25px;
}

.h4-medium {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #696969;
}

.h5-medium {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.h5-light {
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #B3B3B3;
}

.h5-extra-bold {

  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  text-transform: uppercase;

}

.form-group .h3-medium {
  color: #B3B3B3;
  text-align: center;
  margin-bottom: 40px;
}

.custom-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  min-width: 60px;
  height: 60px;
  background: #505050;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  transition: background-color 0.1s ease-in-out;
  font-weight: 450;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.custom-button span {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.button-icon {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.button-transparent {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  min-width: fit-content;
  font-weight: 300;
}

.button-center {
  justify-content: center;
}

.button-transparent-blue {
  color: #2F57BF;
}

.button-transparent-blue:hover {
  color: #537EEF;
}

.button-transparent-blue:active {
  color: #083098;
}

.button-transparent-red {
  color: red;
}

.button-transparent-grey {
  color: grey;
}

.custom-button.no-label {
  padding: 0;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {

  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-blue {
  background: #2F57BF;
}

.button-blue:hover {
  background-color: #537EEF;
}

.button-blue:active {
  background-color: #083098;
}

.grecaptcha-badge {
  visibility: hidden;
}

.button-red {
  background-color: #BF3636;
}

.button-red:hover {
  background-color: #F36565;
}

.button-red:active {
  background-color: #901F1F;
}

.button-outline-blue {
  color: #2F57BF;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #2F57BF;
  color: #2F57BF;
  transition: background-color 0.1s ease-in-out;
}

.button-outline-blue:hover {
  border-color: #537EEF;
  color: #537EEF;
}

.button-outline-red {
  color: #BF3636;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #BF3636;
  color: #BF3636;
  transition: background-color 0.1s ease-in-out;
}

.button-outline-red:hover {
  border-color: #F36565;
  color: #F36565;
}

.button-outline-red:active {
  border-color: #901F1F;
  color: #901F1F;
}

.button-outline-grey {
  color: #B3B3B3;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #B3B3B3;
  color: #B3B3B3;
  transition: background-color 0.1s ease-in-out;
}


.button-outline-grey:hover {
  border-color: #537EEF;
  color: #537EEF;
}

.button-outline-grey:active {
  border-color: #083098;
  color: #083098;
}

.button-grey:hover {
  background-color: #537EEF;
}

.button-grey:active {
  background-color: #083098;
}



.authorization-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.closebtn{
  position: absolute;
  top: 7%;
  right: 5%;
  z-index: 1001;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cross svg{
  height: 60px;
  width: 60px;
}

.arrowclosebtn {
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 1001;
  background: transparent;
  border: none;
  cursor: pointer;
}

.popup-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  min-height: 100%;
  max-height: calc(100vh - 40px);
  width: 100%;
  overflow: auto;
  background-image: url('./assets/images/join.png');
  background-position: fixed;
  background-size: cover; 
  background-repeat: no-repeat;
}

.progress-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.bar.active {
  background-color: #2F57BF;
}


@keyframes fadeIn {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}

.popup-content {
  animation: fadeIn 0.3s ease-out;
}

.login-form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-form.inputsbg {
  background: linear-gradient(256.13deg,
      rgba(5, 37, 122, 0.1) 100%,
      rgba(0, 0, 0, 0.1) 100%), rgba(0, 0, 0, 0.85);
  /* 10% opacity solid color background */

}

.login-wrap {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 500px;
  z-index: 2;
}

.login-wrap.register {
  max-width: 380px;
  min-height: fit-content;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 15px;
  padding-right: 40px;
  height: 60px;
  gap: 10px;
  background: #F8F8F8;
  border-radius: 5px;
  width: inherit;
  box-sizing: border-box;
  font-size: 18px;
}

.form-group input:hover,
.form-group textarea:hover,
.form-group select:hover {
  box-shadow: 0 0 0 1px #537EEF;
}

.reseted {
  place-self: center;
}

.underform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forgot-password-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 200;
  font-size: 17px;
  color: #B3B3B3;
  font-family: 'Montserrat', sans-serif;
}

.pass {
  position: relative;
  width: 100%;
}

.inputSvg {
  position: absolute;
  top: 16px;
  right: 15px;
}

.inputSvg svg {
  color: #505050;
}

.pass:hover .inputSvg svg {
  color: #537EEF;
}


.pass:hover .inputSvg.error svg {
  color: #BF3636
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.error-message {
  font-weight: 400;
  font-size: 17px;
  color: #BF3636;
  display: flex;
  gap: 10px;
  align-items: center;
}

input.error,
select.error {
  box-shadow: 0 0 0 1px #BF3636 !important;
  border-color: #BF3636;
}

.inputSvg.error svg {
  color: #BF3636
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  accent-color: #007bff;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.checkbox-group label {
  font-size: 14px;
  cursor: pointer;

  font-weight: 200;
  font-size: 17px;
  color: #B3B3B3;

}

.auth {
  background: linear-gradient(313.62deg,
      rgba(49, 55, 68, 0.9) 100%,
      rgba(73, 87, 113, 0.9) 100%);
}

.form-button-cont {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-button {
  padding: 0px 20px;
  width: 100%;
  height: 60px;
  background: #F2F2F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  gap: 10px;

  color: #282828;

}

.registration-popup-wrap {
  position: relative;
  min-height: 100%;
  max-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(110.35deg, rgba(40, 40, 40, 0.85) 0%, rgba(0, 8, 30, 0.85) 100%),
    url("./assets/images/formbackground.png") no-repeat center center / cover,
    rgba(0, 0, 0, 0.95);
  animation: fadeIn 0.3s ease-out;
}

.registration-popup-wrap .login-form {
  width: 100%;
  box-sizing: border-box;

}

.registration-popup-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.assets-toggle {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.asset-category {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 40px;
  color: #A79895;
  cursor: pointer;
  transition: color 0.1s ease;

}

.asset-category.active {
  text-decoration-line: underline;
  color: #2F57BF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}


.white-text {
  color: #FFFFFF;
}

.pass-message{
  color: #adadad;
  font-weight: 300;
}

.inputSvg,
.checkbox-group input{
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-content {
    grid-template-columns: 1fr;
  }

  .login-wrap {
    padding: 70px 40px;
    min-height: 100px;
    width: inherit;
  }

  .closebtn {
    top: 20px;
    right: 20px;
  }

  .login-form {
    padding: 10px;
  }

  .width {
    padding-left: 40px;
    padding-right: 40px;
  }

  .asset-category {
    font-size: 35px;
  }

  .height {
    padding: 40px;
  }
}

@media screen and (max-width: 500px) {

  .h1-bold {
    font-size: 40px;
  }

  .h2-bold {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }

  .h2-medium {
    font-weight: 400;
    font-size: 24px;
  }

  .login-wrap {
    padding: 40px 0;
  }

  .h3-light {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

  }

  .h3-medium {
    font-weight: 400;
    font-size: 24px;
  }

  .h4-medium {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
  }

  .h5-light {
    font-size: 16px;
    line-height: 23px;
  }


  .width {
    padding-left: 20px;
    padding-right: 20px;
  }

  .asset-category {
    font-weight: 500;
    font-size: 22px;
  }

  .asset-category {
    gap: 20px;
  }

  .height {
    padding: 40px 20px;
  }
}

