.spoilerCont button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.spoilerCont svg {
    width: 83px;
}

.spoilerCont h4 {
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}
.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
}

.question button {
    color: #2F57BF;
}

.question:hover h4,
.question:hover button {
    color: #537EEF;
}

.answer {
    padding-bottom: 20px;
    line-height: 26px;
    color: #505050;
}

h4.active {
    color: #083098;
}

@media (max-width: 600px) {
    .spoilerCont svg {
        width: 60px;
    }
}