.main {
    padding: 0px 80px;
    top: 0;
    right: 0;
    left: 0;
    background: #282828;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    height: 90px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}
.contactUs {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.contactUs:hover {
    color: #2F57BF;
}
.img {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.contactUs:hover img{
    opacity: 1;
}
.logocont {
    position: absolute;
    z-index: 30;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Adjust as needed */
    cursor: pointer;
    width: 110px;  /* Set the width */
    height: 136px; /* Set the height */
}

.logo {
    width: 110px;
    z-index: 25;
    cursor: pointer;
    flex-shrink: 0
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.linkslist {
    display: flex;
    flex-direction: row;
    position: relative;
}

.linkslist ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 25px;
}

.linkslist a{
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: color 0.2s ease-in-out;
}

.linkslist img{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.linkslist a:hover img{
    opacity: 1;
}

.linkslist a:hover {
    color: #2F57BF;
}

.mobilebtn {
    display: none;
}

.signInbtn {
    width: 160px;
}

.btncont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.closebtn {
    position: absolute;
    top: 40px;
    right: 40px;
    display: none;
}

.closebtn button {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 21;
}
.cartCount {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    color: black;
    top: 40px;
    left: 7px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuTitle {
    display: none;
}

@media (max-width: 1290px) {
    .linkslist ul {
        gap: 15px;
        font-size: 13px;
    }
}

.linkslist.open {
    display: flex;
    height: 100vh;
}

@media (max-width:1100px) {
    .main {
        padding: 0px 40px;
    }    
}

@media (max-width: 1000px) {
    .linkslist {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0px;
        height: 100vh;
        z-index: 20;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0;
        background: linear-gradient(110.35deg, rgba(40, 40, 40, 0.85) 0%, rgba(0, 8, 30, 0.85) 100%), url("../../assets/images/formbackground.png"), rgba(0, 0, 0, 0.95);
    }

    .linkslist ul {
        flex-direction: column;
        gap: 40px;
    }

    .mobilebtn {
        display: block;
    }

    .signInbtn {
        width: 100%;
    }

    .closebtn {
        display: block;
    }

    .linkslist li {
        font-weight: 200;
        font-size: 26px;
        line-height: 41px;
        text-align: center;
    }

    .menuTitle {
        display: block;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #B3B3B3; 
    }

}

.userbtn img {
    height: 60px;
    width: 60px;
}

.userbtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: transparent;
    border: none;
    font: inherit;
    font-weight: 500;
    color: white;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 768px) {
    .main {
        padding: 20px;
    }

    .logocont {
        display: none;
    }

    .useName {
        display: none;
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .linkslist li {
font-size: 20px;
line-height: 31px;
    }
    
}