.main button {
    background: transparent;
    border: none;
    font: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-align: start;
    color: #505050;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 10px;
    color: white;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(110.35deg, rgba(40, 40, 40, 0.9) 0%, rgba(0, 8, 30, 0.9) 100%);
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/images/about.png") no-repeat center center;
    opacity: 20%;
    background-size: cover;
    z-index: 0;
}

.bannerCont {
    z-index: 2;
    max-width: 1128px;
    height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.spoilerSection {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.spoilerBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 310px;
    background: linear-gradient(110.35deg, rgba(40, 40, 40, 1) 0%, rgba(0, 8, 30, 1) 100%);
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    position: relative;
}

.spoilerBanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 20%;
    z-index: 0;
}

.techspecs::after {
    background: url("../../assets/images/tech-specs.png") no-repeat center center;
    background-size: cover;
}

.pricing::after{
    background: url("../../assets/images/pricing.png") no-repeat center center;
    background-size: cover;
}

.payment::after{
    background: url("../../assets/images/payment.jfif") no-repeat center center;
    background-size: cover;
}

.howtouse::after{
    background: url("../../assets/images/howtouse.png") no-repeat center center;
    background-size: cover;
}

.personalaccount::after {
    background: url("../../assets/images/personalaccount.png") no-repeat center center;
    background-size: cover;
}

.license::after {
    background: url("../../assets/images/license.jfif") no-repeat center center;
    background-size: cover;
}



.bannerCont h2,
.spoilerBanner h2 {
    text-align: center;
    z-index: 1;
}

.bannerCont p {
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.sidebar {
    background: #F2F2F2;
    flex: 1;
    padding: 80px;
}

.links {
    position: sticky;
    top: 170px;
    z-index: 1;
}

.body {
    flex: 3;
    padding: 80px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spoilerCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button.clicked {
    position: relative;
    color: #2F57BF;
}

button.clicked::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background-color: #2F57BF;
}

.adaptiveSidebar {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.adaptiveSidebar p {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.adaptiveSidebar svg {
    height: 36px;
}

.highLight {
    color: #537EEF;
    font-weight: 600;
}

.underline {
    background-color: #cacaca;
    height: 2px;
    width: 100%;
}


@media (max-width: 1000px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 5;
        height: fit-content;
        background-color: white;
    }

    .adaptiveSidebar {
        display: flex;
        background-color: #2F57BF;
        height: 70px;
        color: white;
    }

    .links ul {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 2;
        bottom: -100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        gap: 40px;
        background:
        linear-gradient(rgba(228, 235, 255), rgba(228, 235, 255));
    }

    .links ul::before{
        background:url("../../assets/images/sharebackground.png");
        background-size: cover;
        background-position: center;

        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 15%;
    }

    button.clicked::before {
        display: none;
    }

    .links.open ul {
        display: flex;
    }

    .links.closed ul {
        display: none;
    }
}

@media (max-width: 900px) {
    .main {
        padding: 40px;
    }

    .body {
        padding: 0;
    }

    .bannerCont {
        height: auto;
    }
}

@media (max-width: 700px) {
    .main {
        padding: 20px;
    }

    .banner {
        padding: 100px 20px;
    }

    .adaptiveSidebar {
        padding: 0 20px;
    }

    .adaptiveSidebar p {
        font-size: 18px;
    }

    .links ul {
        padding: 20px;
        gap: 40px;
    }

    .links button {
        font-weight: 600;
        font-size: 17px;
        line-height: 26px;
    }

}